WORKFLOWS/API_GATEWAY.json
{
  "name": "API_GATEWAY",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moro-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -128
      ],
      "id": "53cbea21-62cc-4d0a-8768-0829cc843d70",
      "name": "Webhook",
      "webhookId": "c2fd2a91-b30c-4cb4-b3c3-753491d767bf"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iGNBTdaxWhXKt4JA",
          "mode": "list",
          "cachedResultUrl": "/workflow/iGNBTdaxWhXKt4JA",
          "cachedResultName": "ORCHESTRATOR_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.body.user_id }}",
            "user_message": "={{ $json.body.user_message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_context",
              "displayName": "memory_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        192,
        -128
      ],
      "id": "945fff70-e9de-4d92-a5be-ea5fbac1bf6a",
      "name": "Call 'ORCHESTRATOR_V1'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{\n  \"response\": $json.response\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        -128
      ],
      "id": "2e5cdf26-1465-46b7-a827-5b7da733e894",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'ORCHESTRATOR_V1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ORCHESTRATOR_V1'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e75815bf-be15-40ae-a47b-cbecaeab5e3d",
  "meta": {
    "instanceId": "71298cc0a45d891fa7d10da2b065192bfba86e4a0d6df20ba65972a131dd3d3e"
  },
  "id": "zmxA17LfxJ7WEAby",
  "tags": []
}