WORKFLOWS/ORCHESTRATOR_V1.json
{
  "name": "ORCHESTRATOR_V1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "user_message"
            },
            {
              "name": "memory_context"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c503068b-017f-42eb-8db1-d855bc76ae05",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03d383fc-9782-4397-9c45-a4d7456d3749",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "2f21514c-b6ca-4dc2-925b-701d7add62e0",
              "name": "user_message",
              "value": "={{ $json.user_message }}",
              "type": "string"
            },
            {
              "id": "245e8c12-fc63-4df1-a156-c56667e5e7c1",
              "name": "memory_context",
              "value": "={{ $json.memrory_context }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2b32a250-2801-4aa7-aae6-fe5b36f3811f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CZrz0g5iNV8HCPqE",
          "mode": "list",
          "cachedResultUrl": "/workflow/CZrz0g5iNV8HCPqE",
          "cachedResultName": "RECALL_AGENT_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "user_message": "={{ $json.user_message }}",
            "memorry_context": "={{ $json.memory_context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memorry_context",
              "displayName": "memorry_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "f153448f-6baa-4bd3-a019-92019f9a1d28",
      "name": "Call 'RECALL_AGENT_V1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0UHblWn7Wathh1Ku",
          "mode": "list",
          "cachedResultUrl": "/workflow/0UHblWn7Wathh1Ku",
          "cachedResultName": "MASTER_ROUTER_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$json.user_id}}",
            "user_message": "={{$json.user_message}}",
            "memory_context": "={{$json.memory_context}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_context",
              "displayName": "memory_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "24256e3b-73b9-44a1-aeaa-58c3d5bde8c0",
      "name": "Call 'MASTER_ROUTER_V1'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "career",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60902ebf-970e-4e0b-874c-7363363ef0d7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aaf06d8f-5326-4192-a34e-0d7084495d9c",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "gratitude",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7159422f-4dc2-4dfb-87de-ce76d0cf289c",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "game",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55c67a60-ae8c-4715-8d93-175f70ecb6a8",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "3c19deb8-32cb-4b00-8ffb-4ae3d1218a63",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XQeWeGForSYrMHgE",
          "mode": "list",
          "cachedResultUrl": "/workflow/XQeWeGForSYrMHgE",
          "cachedResultName": "GRATITUDE_AGENT_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$json.user_id}}",
            "user_message": "={{$json.user_message}}",
            "memory_context": "={{$json.memory_context}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_context",
              "displayName": "memory_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1136,
        0
      ],
      "id": "034c9a49-b861-40bc-82d0-e3b32f443d5e",
      "name": "Call 'GRATITUDE_AGENT_V1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ePgeyb4jntOlKwmQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/ePgeyb4jntOlKwmQ",
          "cachedResultName": "GAME_AGENT_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$json.user_id}}",
            "user_message": "={{$json.user_message}}",
            "memory_context": "={{$json.memory_context}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_context",
              "displayName": "memory_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        176
      ],
      "id": "b3c2b7ec-f296-4430-a44a-449a1f5899fd",
      "name": "Call 'GAME_AGENT_V1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QvtBmyOFy6cVsWht",
          "mode": "list",
          "cachedResultUrl": "/workflow/QvtBmyOFy6cVsWht",
          "cachedResultName": "MASTER_BRAIN_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$json.user_id}}",
            "user_message": "={{$json.user_message}}",
            "memory_context": "={{$json.memory_context}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_context",
              "displayName": "memory_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        976,
        288
      ],
      "id": "0c7adacb-af17-4cca-926a-f012f6f8826d",
      "name": "Call 'MASTER_BRAIN_V1'"
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.intent || \"\").toLowerCase().trim();\n\nconst careerWords = [\n  \"portfolio\",\n  \"resume\",\n  \"cv\",\n  \"linkedin\",\n  \"internship\",\n  \"job\",\n  \"interview\",\n  \"project\",\n  \"coding\",\n  \"programming\"\n];\n\nlet intent = raw;\n\nif (careerWords.includes(raw)) {\n  intent = \"career\";\n}\n\nif (![\"career\", \"gratitude\", \"game\", \"general\"].includes(intent)) {\n  intent = \"general\";\n}\n\nreturn [{\n  json: {\n    ...$json,\n    intent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -144
      ],
      "id": "7fa4b686-963c-4738-a304-e66f8b8faf97",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        48
      ],
      "id": "e767b3ba-6836-45d2-b6b3-1e18311a1ab6",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W0HIdCc7XurQOi7N",
          "mode": "list",
          "cachedResultUrl": "/workflow/W0HIdCc7XurQOi7N",
          "cachedResultName": "CAREER_AGENT_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$json.user_id}}",
            "user_message": "={{$json.user_message}}",
            "memory_context": "={{$json.memory_context}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_context",
              "displayName": "memory_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        -144
      ],
      "id": "7398dd9d-ef06-418c-a756-e3e6519cfbcd",
      "name": "Call 'CAREER_AGENT_V1'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IjFCQEkbDmpqN496",
          "mode": "list",
          "cachedResultUrl": "/workflow/IjFCQEkbDmpqN496",
          "cachedResultName": "MEMORY_AGENT_V1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "user_message": "={{ $json.user_message }}",
            "ai_response": "={{ $json.memory }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        48
      ],
      "id": "8920e94d-8235-4a1b-95d9-cede140eec86",
      "name": "Call 'MEMORY_AGENT_V1'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e88324c7-ea14-4e2d-93dd-02f8b56b9c9f",
              "name": "response",
              "value": "={{$node[\"Call 'CAREER_AGENT_V1'\"].json.response}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        32
      ],
      "id": "bea451e8-e3f5-4944-867f-3d2105706022",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3729a83-aad5-486b-ba7b-5499e05ab90a",
              "name": "user_id",
              "value": "= {{$node[\"Switch\"].json.user_id}}",
              "type": "string"
            },
            {
              "id": "3192429f-951d-49ca-9939-5f4898e47dec",
              "name": "user_message",
              "value": "={{$node[\"Switch\"].json.user_message}}",
              "type": "string"
            },
            {
              "id": "fbf46ea2-760b-4159-83c5-b52fd9719c25",
              "name": "memory",
              "value": "={{$node[\"Merge\"].json.response}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        48
      ],
      "id": "a1ff8c27-81c6-476d-8a93-174ce031df54",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'RECALL_AGENT_V1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'RECALL_AGENT_V1'": {
      "main": [
        [
          {
            "node": "Call 'MASTER_ROUTER_V1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'MASTER_ROUTER_V1'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'CAREER_AGENT_V1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'GRATITUDE_AGENT_V1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'GAME_AGENT_V1'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'MASTER_BRAIN_V1'",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CAREER_AGENT_V1'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GRATITUDE_AGENT_V1'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'GAME_AGENT_V1'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Call 'MASTER_BRAIN_V1'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'MEMORY_AGENT_V1'": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Call 'MEMORY_AGENT_V1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0838468f-80d1-4646-8551-5e94eb067e1e",
  "meta": {
    "instanceId": "71298cc0a45d891fa7d10da2b065192bfba86e4a0d6df20ba65972a131dd3d3e"
  },
  "id": "iGNBTdaxWhXKt4JA",
  "tags": []
}